.jumbotron {

    
    background-image: url(source/senoriallogo.png);
    background-size: 60em;
    background-color: #BBDFEF;
    background-position: center right;
    background-repeat: no-repeat;
    color: white;
}

footer {
    padding: 40px 40px 10px 40px;
    background-color: #BBDFEF;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;    
    margin-top: 20px;
    margin-left: 0rem;
    margin-right: 0rem;
    color: white;
}

.card-producto {
    flex: 1 220px;
    padding: 0px 00px 00px 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px 0px 2px 2px;
}
.jumbotron-special {
    
    background-image: url(source/intro.png);
    background-size: cover;
    min-height: 300px;
    background-color: #BBDFEF;
    background-position: center ;
    background-repeat: no-repeat;
    color: white;
}
.footer-address-icon{
    padding-right: 5px;
}

.footer-final{
    text-align: center;
}
.carrusel{
    
}
.carousel-inner{
    height: 300px;
    
    
}

.item, d-block{
    height: 100% !important;
    width:  100% !important;
    position: relative;
}